

#contactContent { background: url(../img/contactBackground.png ) no-repeat 0 0 }

.background { width:1357px }

#middle { width: 1358px; height: 862px; position: relative; padding-top: 25px }

	#middle #left { 
		margin-left: 250px; width: 337px; height: 606px; float:left; padding-top: 25px; padding-left: 42px;
		font-family: Signika, sans-serif; font-weight: 600; letter-spacing: 3px; font-size: 27px; color: #eaeaea
	 }

	#middle #right { 
		width: 422px; height: 717px; float: left; padding-left: 58px; padding-top: 42px;
		font-family: Signika, sans-serif; font-size: 13px; font-weight: 300
	}


		#middle #right input { color: #4299ae }
		#middle #right label { color: #4299ae }

		#middle #right .canvas_input { height: 62px; width: 359px }		
		#middle #right input[type='text'] { width: 342px; height: 28px; background: none; border: none; outline: none; padding-top: 6px; padding-left: 6px ; padding-right: 6px  }
		
		#middle #right .canvas_mensagem { height: 121px; padding-top:10px }
		#middle #right textarea { resize: none; border: none; background: none; margin-top: 5px; width: 341px; height: 84px; outline: none; padding: 6px; overflow: auto; color: #4299ae }
		
		#middle #right #enviar { width: 80px; height: 24px; background: none; border: none; outline: none; font-family: Signika, sans-serif; font-size: 12px; font-weight: 300; cursor: pointer; margin-left: 296px; color: #4db3cc; text-align: center; padding-top: 10px }
		

		#middle #right .obrigatorio { margin-top: -9px; color: #4299ae; font-size: 9px; font-family: Signika, sans-serif; font-style: italic ;font-weight: 300 }

		#middle #right .container_message { 
			position: absolute; top: 48px; left: 668px; background: url("../img/messageBox.png") no-repeat; height: 451px; width: 415px;
			color: #4299ae; opacity: 0.8; font-size: 17px; font-family: Signika, sans-serif; font-weight: 300; line-height: 22px; letter-spacing: 1px
		}
			#middle #right .closeButton { height: 27px; width: 30px; margin-left: 362px; margin-top: 20px; cursor: pointer }
			#middle #right .containerMessage { margin-top: 142px; text-align: center }

		#middle #right #rightBottom { width: 403px; height: 222px; letter-spacing: 1px; margin-top: 25px; font-size: 13px; color: #4299ae }
			#middle #right #rightBottom span { color: #073565 }
			#middle #right #rightBottom .bold { font-weight: 600 }
			#middle #right #rightBottom .bottomspace { margin-bottom: 2px }

