.background { height: 1473px }

body { background-image: url("../img/background_company.png"); background-repeat: repeat-x }

#enterpriseContent { background: url(../img/enterpriseBackground.png ) no-repeat 0 0 }

#middle { width: 958px; height: 1026px; margin-left: 199px; margin-top: 19px; position: relative }

	#middle #left { 
		height: 231px; width: 180px; float: left; padding-left: 44px; padding-top: 150px;
		font-family: Signika, sans-serif; font-weight: 500; letter-spacing: 0.6px; line-height: 19px; font-size: 17px; color: #ffffff
	}

	#middle #right { height: 844px; width: 702px; float: left; padding-top: 33px; padding-left: 32px }	

	#middle #right #rightUp { height: 460px }
		
		#middle .image { width: 567px; height: 392px; float: left; position: relative }
			#middle .image .container { position: absolute }

		#middle .menu { width: 88px; height: 376px; float: left; margin-left: 15px; padding-top: 16px }
		
		#middle .thumb { cursor: pointer; width: 77px; height: 60px; margin-bottom: 7px }
		#middle .thumbvideos { margin-top: 43px }

		#imgSmallEnterprise01 .thumb { background: url("../img/imgSmallEnterprise01.png") no-repeat }
		#imgSmallEnterprise02 .thumb { background: url("../img/imgSmallEnterprise02.png") no-repeat }
		#imgSmallEnterprise03 .thumb { background: url("../img/imgSmallEnterprise03.png") no-repeat }
		#imgSmallEnterprise04 .thumb { background: url("../img/imgSmallEnterprise04.png") no-repeat }
		#imgSmallEnterprise05 .thumb { background: url("../img/imgSmallEnterprise05.png") no-repeat }

		#imgSmallEnterprise01 .selected { background: url("../img/imgSmallEnterpriseSelected01.png") no-repeat }
		#imgSmallEnterprise02 .selected { background: url("../img/imgSmallEnterpriseSelected02.png") no-repeat }
		#imgSmallEnterprise03 .selected { background: url("../img/imgSmallEnterpriseSelected03.png") no-repeat }
		#imgSmallEnterprise04 .selected { background: url("../img/imgSmallEnterpriseSelected04.png") no-repeat }
		#imgSmallEnterprise05 .selected { background: url("../img/imgSmallEnterpriseSelected05.png") no-repeat }


	#middle #right #rightBottom { 
		height: 414px; font-size: 14px; color: #0093c9; text-align: justify;
		font-family: Signika, sans-serif; font-weight: 300; letter-spacing: 1px; line-height: 18px
	}
	#middle #right #rightBottom p { margin-bottom: 23px }