/* Div Middle  */

#indexContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/indexBackground.png ) no-repeat 0 0 }

#middle { width: 1166px; height: 864px; margin-left: 191px; position: relative }
	
	#middle #randomImage { width: 1166px; height: 350px; margin-top: 22px }
	#middle #arrows { width: 915px; height: 50px; position: absolute; top: 167px; z-index:999 }
		#middle #arrows .arrow { cursor: pointer }
		#middle #arrows .arrow_left { margin-left: 20px; float: left }
		#middle #arrows .arrow_right { margin-right: 20px; float: right }

	#middle #bullets_canvas { width: 1166px; height: 18px }
		#middle #bullets { margin-left: 426px; height: 10px; margin-top: 8px }
			#middle .bullet { width: 15px; height: 12px; float: left; margin-right: 6px }
			#middle .bullet_selected { background-color: #006cdd }

	#middle #middleContent { width: 1166px; height: 488px }

	#middle #media { width: 590px; height: 488px; float: left }
		#middle #media #mediaTittle { width: 590px; height: 311px }

		#middle #media #mediaTittle #mediaPhrase { 
				width: 221px; height: 69px; padding-left: 122px; padding-top: 240px; letter-spacing: 1px; line-height: 18px;
				font-family: Signika, sans-serif; font-weight: 300; font-size: 13px; color: #ffffff
		}

		#middle #media #playerTittle { width: 468px; height: 173px; padding-left: 122px; padding-top: 8px; letter-spacing: 1px }
			#middle #media #playerTittle a { font-family: Signika, sans-serif; font-weight: 300; font-size: 13px; color: #1046d6 }
	

	#middle #budgetBox { width: 322px; height: 468px; float:left; padding-top:20px }
		
		#middle #budgetBox #budgetBoxTittle { 
				width: 281px; height: 37px; padding-left: 41px; padding-top: 17px; letter-spacing: 1px;
				font-family: Signika, sans-serif; font-weight: 300; font-size: 13.65px; color: #0073ef 
		}
		
		#middle #budgetBox #budgetTittle { width: 322px; height: 394px }

			#middle #budgetBox #budgetTittle #budgetBoxPhrase02 { 
				width: 279px; height: 18px; padding-top: 12px; padding-left: 43px; letter-spacing: 1px;
				font-family: Signika, sans-serif; font-weight: 300; font-size: 13.65px; color: #ffffff
			}