/*  produto.css  */


#productContent {  background: url(../img/productBackground.png ) no-repeat 0 0 }


/*  Middle  */

#middle { width: 1358px; height: 886px; margin-left: 30px; position: relative }

	#middle #card { width: 386px; height: 884px; float: left }

		#middle #card #cardMenu { 
			width: 189px; height: 670px; margin-left: 199px;
			font-family: Signika, sans-serif; color: #ffffff }

			#middle #card #cardMenu #cardTittle { height: 70px; padding-top: 56px; font-weight: 400; font-size: 17px; 
				padding-left: 23px; letter-spacing: 0.6px; line-height: 19px }

			#middle #card #cardMenu .item { font-size: 13px; cursor: pointer; border-left: 15px solid transparent; padding-left: 8px }
			#middle #card #cardMenu .item:hover { color: #0c687f; border-left: 15px solid #0c687f } 
			#middle #card #cardMenu .itemSelected { border-left: 15px solid #00a2c7; color: #00a2c7 }
			
			#middle #card #cardMenu #giftCard { padding-top: 16px; height: 50px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #smartCard { padding-top: 12px; height: 64px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #corporateCard { padding-top: 15px; height: 26px;font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #credentialCard { padding-top: 14px; height: 28px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #fidelityCard { padding-top: 13px; height: 28px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #preCard { padding-top: 14px; height: 27px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #specialCard { padding-top: 12px; height: 49px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #gsmCard  { padding-top: 13px; height: 28px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #paperCard { padding-top: 13px; height: 27px; font-weight: 300; font-size: 13px }
			#middle #card #cardMenu #aquaticCard { padding-top: 14px; height: 49px; font-weight: 300; font-size: 13px }

	#middle #cardImage { width: 972px; height: 884px; float: left}

		#middle #cardImage #boxCardImage { width: 608px; height: 521px; margin-left: 68px; margin-top: 89px; position: relative }
			#middle #cardImage #boxCardImage img { position: absolute }