/*  produto.css  */


#productContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/productBackground.png ) no-repeat 0 0 }


/*  Middle  */

#middle { width: 1358px; height: 864px; position: relative }

	#middle #card { width: 386px; height: 884px;  float: left }
		#middle #card #cardMenu { width: 189px; height: 608px; margin-left: 199px }
			#middle #card #cardMenu #cardTittle { width: 155px; height: 88px; padding-left: 23px; padding-top: 56px; letter-spacing: 1px;
												font-family: Signika, sans-serif; font-weight: bold; font-size: 16px; color: #ffffff  }
			#middle #card #cardMenu #giftCard { width: 189px; height: 68px; background-color: black }
			#middle #card #cardMenu #smartCard { width: 189px; height: 90px; background-color: navy }
			#middle #card #cardMenu #corporateCard { width: 189px; height: 41px; background-color: maroon }
			#middle #card #cardMenu #credentialCard { width: 189px; height: 39px; background-color: green }
			#middle #card #cardMenu #fidelityCard { width: 189px; height: 39px; background-color: yellow }
			#middle #card #cardMenu #preCard { width: 189px; height: 41px; background-color: olive }
			#middle #card #cardMenu #specialCard { width: 189px; height: 59px; background-color: pink }
			#middle #card #cardMenu #gsmCard  { width: 189px; height: 41px; background-color: violet }
			#middle #card #cardMenu #paperCard { width: 189px; height: 41px; background-color: purple }
			#middle #card #cardMenu #aquaticCard { width: 189px; height: 36px; background-color: darkblue }

	#middle #cardImage { width: 972px; height: 884px; float: left; background-color: yellow }
		#middle #cardImage #boxCardImage { width: 608px; height: 521px; margin-left: 64px; margin-top: 89px; background-color: purple }