/*  index.css  */


/* Page's  structure */

* { margin:0; padding:0 }
a { text-decoration:none }

body { background-color: #ffffff }

#background { width: 1358px; height: 1314px; position:absolute; left:-679px; margin: auto 50%  }

#indexContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/indexBackground.png ) no-repeat 0 0 }

#productContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/productBackground.png ) no-repeat 0 0 }

#serviceContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/serviceBackground.png ) no-repeat 0 0 }

#enterpriseContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/enterpriseBackground.png ) no-repeat 0 0 }

#securityContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/securityBackground.png ) no-repeat 0 0 }

#budgetContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/budgetBackground.png ) no-repeat 0 0 }

#contactContent { width: 1358px ; height: 1314px; margin: auto 50%; left: -679px; position: absolute; background: url(../img/contactBackground.png ) no-repeat 0 0 }


/* Div Header */

#header { width: 1168px; height: 130px; padding-left: 190px }
	#header #logo { width: 161px; height: 130px; float: left }
		#header #logo img { margin-left: 27px; margin-top: 34px }
	#header #menu { width: 751px; height: 130px; float: left }
		#menu a { font-family: Signika, sans-serif; font-weight: normal; font-size: 12px; color: #666666 }
		#header #menu #menuProduto { width: 59px; height: 25px; padding-left: 78px; padding-top: 105px; float: left }			
		#header #menu #menuServico { width: 54px; height: 25px; padding-left: 44px; padding-top: 105px; float: left }
		#header #menu #menuEmpresa { width: 51px; height: 25px; padding-left: 40px; padding-top: 105px; float: left }
		#header #menu #menuSeguranca { width: 67px; height: 25px; padding-left: 44px; padding-top: 105px; float: left }
		#header #menu #menuOrcamento { width: 74px; height: 25px;  padding-left: 40px; padding-top: 105px; float: left }
		#header #menu #menuContato { width: 156px; height: 25px; padding-left: 44px; padding-top: 105px; float: left }


/* Div Middle  */

#middle { width: 1166px; height: 864px; margin-left: 191px; position: relative }
	
	#middle #randomImage { width: 1166px; height: 350px; margin-top: 22px }
	#middle #arrows { width: 1166px; height: 50px; position: absolute; top: 167px; z-index:999 }

	#middle #bullets_canvas { width: 1166px; height: 18px }
		#middle #bullets { margin-left: 426px; height: 10px; margin-top: 8px }
			#middle .bullet { width: 15px; height: 12px; float: left; margin-right: 6px }
			#middle .bullet_selected { background-color: #0098B6 }

	#middle #middleContent { width: 1166px; height: 488px }


	#middle #media { width: 590px; height: 488px; float: left }
		#middle #media #mediaTittle { width: 590px; height: 311px }
		#middle #media #mediaTittle #mediaPhrase{ width: 221px; height: 69px; padding-left: 116px; padding-top: 249px }
		#middle #media #playerTittle { width: 474px; height: 173px; padding-left: 116px; padding-top: 8px }
	

	#middle #budgetBox { width: 322px; height: 468px; float:left; padding-top:20px }
		#middle #budgetBox #budgetBoxTittle { width: 281px; height: 34px; padding-left: 41px; padding-top: 20px }
		#middle #budgetBox #budgetTittle { width: 322px; height: 394px }
			#middle #budgetBox #budgetTittle #budgetBoxPhrase02 { width: 281px; height: 11px; padding-top: 14px; padding-left: 41px }



/* Div Footer  */

#footer { width: 1162px; height: 296px; margin-left: 195px }
	#footer #footerTittle { width: 632px; height: 12px; padding-left: 280px; padding-top: 32px }


/* Fonts */   

.signika_12_normal_gray {font-family: Signika, sans-serif; font-weight: normal; font-size: 12px; color: #666666 }
.signika_13_lighter_white {font-family: Signika, sans-serif; font-weight: lighter; font-size: 13px; color: #ffffff }
.signika_13_lighter_blue {font-family: Signika, sans-serif; font-weight: lighter; font-size: 13px; color: #1046d6 }
.signika_1365_lighter_blue {font-family: Signika, sans-serif; font-weight: lighter; font-size: 13.65px; color: #0073ef }
.signika_1365_lighter_white {font-family: Signika, sans-serif; font-weight: lighter; font-size: 13.65px; color: #ffffff }

.helvetica_11_lighter_blue {font-family: Helvetica, Arial, sans-serif; font-weight: lighter; font-size: 11.65px; color: #0073ef }


